<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058666221445-330nnn3nact06p0q7m00b5t07j37jfm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058666221445-330nnn3nact06p0q7m00b5t07j37jfm0</string>
	<key>API_KEY</key>
	<string>AIzaSyCr0EhiUsRxPQ6ig908ojGF7ALQPFwHqkI</string>
	<key>GCM_SENDER_ID</key>
	<string>1058666221445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Eric.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-682fe</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-682fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058666221445:ios:9726e14127aff6c3</string>
	<key>DATABASE_URL</key>
	<string>https://artable-682fe.firebaseio.com</string>
</dict>
</plist>